@font-face {
    font-family: 'TT fors';
    src: url('Demo_Fonts/Fontspring-DEMO-tt_fors_regular.otf');
}

body {
    background-color: #191822 !important;
    color: #ffffff !important;
    font-family: 'TT fors';
    margin: 0;
    padding: 0;
    font-size: 20px;
}

h1 {
    font-size: 3rem;
}
.map-container
{
    padding-left: 50px;
    padding-right: 50px;
}
#map {
    width: 100%;
    height: 600px;
}

nav {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 15px;
}

nav .nav-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 30px;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;
}

nav .nav-buttons button {
    height: 40px;
    width: 200px;
    background-color: #44c5ea;
    border: none;
    border-radius: 6px;
    padding: 5px;
    font-size: large;
    color: #ffffff;
    text-transform: uppercase;
}

nav .nav-buttons #lang {
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    border: none;
    border-radius: 100%;
    padding: 5px;
    font-size: large;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
}
footer {
    width: 100%;
    display: flex;
    padding: 15px;
    position: relative;
}
footer .fotter-buttons {
    align-items: center;
    position: absolute;
    right: 30px;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;
}

#logo {
    height: 60px;
}

#logo-footer {
    height: 40px;
}

#logo-footer-cropped{
    height: 60px;
    background-color: #493598;
    border-radius: 100%;
    padding: 10px;
}
main section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main section h1 {
    text-align: center;
    width: 100vw;
}

main section .two-col {
    display: flex;
    justify-content: center;
}

main section .two-col p {
    text-align: center;
    flex-grow: 1;
    width: 50%;
    padding: 30px;
}

main section .two-col img {
    text-align: center;
    flex-grow: 1;
    height: 300px;

    margin-left: 120px;
}

main section .alterdettable table {
    text-align: center;
    flex-grow: 1;   
    width: 300px;
    margin-right: 300px;
}

.alterdettable>tbody>tr>td, .alterdettable>tbody>tr>th, .alterdettable>tfoot>tr>td, .alterdettable>tfoot>tr>th, .alterdettable>thead>tr>td, .alterdettable>thead>tr>th {
    padding: 12px;
}
main section .two-col p:first-child {
    border-right: #ffffff 2px solid;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.column a{
    display: flex;
    justify-content: center;
}

#lang_fot{
    width: 200px;
    height: 40px;
    margin-right: 15px;
}

.table-container{

    padding-left: 50px;
    padding-right: 50px;
    width: 900px;
    margin: auto;
}
table{
    text-align: center;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #aee3f2 !important;
  }